body {
    font-family:'Courier New', Courier, monospace;
    background-image: url(./assets/paw.jpg);
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh; 
    padding-top: 20px;
    box-sizing: border-box;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    width: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    height: 100%; 
    box-sizing: border-box; 
    margin: 0 auto; 

}

.title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.subtitle {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
}

.dog-card {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.attributes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.attributes button {
    background-color: #d4a146;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
}

.attributes button:hover {
    background-color: #b3883b;
}

.dog-image {
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
    margin-top: 10px;
}

.discover-button {
    background-color: #6d6d6d;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.discover-button:hover {
    background-color: #555;
}

